body {
    padding-top: 100px;
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 5px 5px, 0px 0px;
    border-color: black;
    color: white;
}

table, .header {
    background-color: white;
    color: black;
    text-align: justify;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttonIndex {
    margin-top:10%;
    display: flex;
    flex-direction: row-reverse;
}

.h1{
   text-align: justify;
}

.h2{

    margin-top:10%;
    text-align: center;
    margin-left:1em;
}

.icon{
    margin-top:10%;
     max-width: 50%;
}

.header{
    justify-content: space-between;
    display: flex;
}